In [2]:
import pandas as pd

In [4]:
sein_dialogue = pd.read_csv("scripts.csv")
sein_dialogue

,season,episode,character,dialogue
0,1,1,JERRY,Do you know what this is all about? Do you kno...
1,1,1,JERRY,"See, to me, that button is in the worst possib..."
2,1,1,GEORGE,Are you through?
3,1,1,JERRY,"You do of course try on, when you buy?"
4,1,1,GEORGE,"Yes, it was purple, I liked it, I don't actual..."
...,...,...,...,...
54175,9,23,JERRY,Grand theft auto - don't steal any of my jokes.
54176,9,23,PRISONER #3,You suck - I'm gonna cut you.
54177,9,23,JERRY,"Hey, I don't come down to where you work, and ..."
54178,9,23,GUARD,"Alright, Seinfeld, that's it. Let's go. Come on."
54179,9,23,JERRY,"Alright, hey, you've been great! See you in th..."

In [13]:
sein_dialogue_george = sein_dialogue.where(sein_dialogue['character'] == "GEORGE").dropna()
sein_dialogue_george

,season,episode,character,dialogue
2,1.0,1.0,GEORGE,Are you through?
4,1.0,1.0,GEORGE,"Yes, it was purple, I liked it, I don't actual..."
6,1.0,1.0,GEORGE,"Uh, no, not at this time."
9,1.0,1.0,GEORGE,"Are, are you sure this is decaf? Where's the o..."
13,1.0,1.0,GEORGE,How come you're not doin' the second show tomo...
...,...,...,...,...
54100,9.0,23.0,GEORGE,What?
54147,9.0,23.0,GEORGE,You had to hop! You had to hop on the plane.
54163,9.0,23.0,GEORGE,Really?
54165,9.0,23.0,GEORGE,Haven't we had this conversation before?
54167,9.0,23.0,GEORGE,I think we have.